html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: 'Bevan', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  color: #fff;
}


nav ol {
  font-family: sans-serif;
  font-weight: bold;
  list-style-type: none;
}
